*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

body, html{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

body{
	background-color: #2b2b2b;
}

.section{
	max-width: 800px;
	border: 2px solid #bb2222;
	border-radius: 5px;
	margin: 20px auto;
	background-color: #363636;
	transition: 450ms;
}

.cont-header{
	background-color: #bb2222;
	padding: 10px;
	font-size: 1.3em;
	color: #ddd;
	text-align: center;
}

.aviso{
	background-color: #222;
	padding: 10px;
	text-align: center;
	color: #999;
	font-size: 1.1em;
}

.cont-body{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
}

.contatoEl{
	display: flex;
	flex-direction: column;
	cursor: pointer;
	width: 100%;
	background-color: #464646;
	max-width: 200px;
	max-height: 200px;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	transition: 450ms;
}

.contatoEl:active{
	background-color: #ddd;
}

.contato-header{
	background-color: #666;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 1.1em;
	color: #ddd;
}

.contato-body{
	height: 200px;
	background-position: 50% 20%;
	background-repeat: no-repeat;
	background-size: 50%;
}

@media (max-width: 685px){
	.section{
		width: 100%;
		max-width: 500px;
	}
	
	.cont-body{
		display: grid;
		margin-top: 10px;
		grid-template-columns: 180px 180px;
		gap: 10px;
	}
	
	.contatoEl{
		max-width: 180px;
		max-height: 180px;
		margin: 0;
	}
}

@media (max-width: 410px){
	.section{
		max-width: 300px;
	}
	
	.cont-body{
		grid-template-columns: 180px;
	}
}