*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

html, body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

html{
	background-color: #2b2b2b;
}

.section{
	border: 2px solid #bb2222;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	background-color: #363636;
	padding: 10px;
	border-radius: 5px;
	margin: 1em auto;
	color: #ddd;
}

.section h1{
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
}

.s-front{
	background-color: #AE8F42;
	color: #222;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.s-front h1{
	font-size: 1.8em;
	margin-bottom: 10px;
}

.s-front p{
	font-size: 1.1em;
}

.s-front .s-body{
	background-color: #222;
	color: #ddd;
	padding: 10px;
	border-radius: 10px;
}

.s-desenho{
	background-color: #8D478A;
	padding: 10px;
	border-radius: 10px;
	color: #222;
}

.s-desenho .s-body{
	background-color: #222;
	padding: 10px;
	color: #ddd;
	border-radius: 10px;
}

.s-desenho .s-body a{
	color: #D46A6A;
	text-decoration: none;
}

.s-desenho .s-body a:hover{
	text-decoration: underline;
}

.s-desenho .s-body p, .s-desenho .s-body ul li{
	margin-bottom: 10px;
	font-size: 1.1em;
}

.s-desenho img{
	display: flex;
	max-width: 65%;
	border-radius: 10px;
	margin: 20px auto 20px auto;
}

.s-desenho .s-body ul{
	margin-left: 25px;
	margin-bottom: 10px;
}

.s-desenho .s-body h2{
	margin-bottom: 10px;
}

.s-desenho .s-body ul li{
	margin-bottom: 5px;
}

.s-design{
	background-color: #615192;
	padding: 10px;
	margin-top: 10px;
	color: #222;
	border-radius: 10px;
}


.s-design .s-body{
	background-color: #222;
	padding: 10px;
	border-radius: 10px;
	color: #ddd;
}

.s-design .s-body p{
	font-size: 1.1em;
	margin-bottom: 10px;
}

.s-design .s-body h2{
	margin-bottom: 10px;
}

.s-design .s-body li{
	margin-bottom: 5px;
	font-size: 1.1em;
}

.s-design .s-body ul li{
	margin-left: 25px;
}